#editor {
    margin: 3% auto;
    width: 64%;
    max-width: 1200px;
    padding: 1%;
    
    background: white;
    z-index: 10 !important;
}

#editor,
#editor * {
    border-radius: 5px !important;
}

#editor textarea {
    width: 100%;
    padding: 1%;
}

#editor td {
    padding: 1%;
}

#editor #save button {
    margin: 0.5% auto;
    padding: 1.3%;
    
    background: 
}