@font-face {
    font-family: Fira-Sans-Regular;
    src: url("../html5/fonts/Fira-Sans-Regular.otf");
    /* font-weight:400; */
}
@font-face {
    font-family: Fira-Sans-Bold;
    src: url("../html5/fonts/Fira-Sans-Bold.otf");
    /* font-weight:400; */
}
@font-face {
    font-family: Fira-Sans-Italic;
    src: url("../html5/fonts/Fira-Sans-Italic.otf");
    /* font-weight:400; */
}


* {
    margin: 0;
    border: 0;
    padding: 0;
    
    font-family: Fira-Sans-Regular;
    z-index: 1;
}

.active,
.not_active {
    color: white;
}

.active {
    background: #3B8183;

}

.not_active {
    background: #FF9C5B;
}

.close {
    background: ;
}

header, #actions {
    padding: 0.5% 1%;
    width: 98%;
}

header {
    height: 10%;
    
    background-color: #232936;
    color: white;
    
    font-size: 1.2em;
    text-align: left;
}

header * {
    vertical-align: middle;
}

#shadow {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    
    background-image: url(../html5/images/black95.png) ;
    z-index: 10 !important;
}

#actions {
    background-image: url(../html5/images/halftone_33.png);
    height: auto !important;
    color: black;
}

#actions > * {
    display: inline-block;
    padding: 0.3%;
}


.body {
    margin: 1% 0;    
}

/* Hide element */
.hidden {
    visibility: collapse !important;
    padding: 0 !important;
    height: 0 !important;
    max-height: 0 !important;
}

#container {
    width: 98%;
    padding: 1%;
}

#controllers {
    height: auto;
    max-height: 100%;       
    padding: 1%;
    
    border-style: solid;
    border-width: 0 0;
    border-color: #232936;
    background-color: #232936;
    background-image: url("../html5/images/halftone_33.png");
    border-radius: 5px;
    color: white;
}

#node_id {display: none;}

#controllers > * {
    margin-bottom: 2%;
    padding: 3% !important;
}

#controllers > *:last-child {
    margin-bottom: 0%;
}

#controllers * {
    padding: 2%;
    
    border-radius: 5px;
}

#controllers #documentation {
    background: white;
    color: #333;
}

#node_title, #node_type {
    min-height: 0;
    max-height: 25%;
    padding: 1%;
}

.panel.left {
    width: 58% !important;
    float: left;
}

.panel.right {
    width: 36%;
    margin: 1%;
    float: right;
}