@font-face {
    font-family: Fira-Sans-Regular;
    src: url("../html5/fonts/Fira-Sans-Regular.otf");
    /* font-weight:400; */
}
@font-face {
    font-family: Fira-Sans-Bold;
    src: url("../html5/fonts/Fira-Sans-Bold.otf");
    /* font-weight:400; */
}
@font-face {
    font-family: Fira-Sans-Italic;
    src: url("../html5/fonts/Fira-Sans-Italic.otf");
    /* font-weight:400; */
}


* {
    margin: 0;
    border: 0;
    padding: 0;
    
    font-family: Fira-Sans-Regular;
}

header {
    padding: 1%;
    width: 98%;
    height: 10%;
    
    background: #232936;
    color: white;
    
    font-size: 1.2em;
    text-align: left;
}

header * {
    vertical-align: middle;
}

.body {
    margin: 1% 0;    
}

/* Hide element */
.hidden {
    visibility: collapse !important;
    padding: 0 !important;
    height: 0 !important;
    max-height: 0 !important;
}

#container {
    width: 100%;
}

#container, #controllers {
    display: inline-block;
}

#controllers {
    min-height: 0%;
    max-height: 40%;
    padding: 0;
    
    
    border-style: solid;
    border-width: 0 0;
    border-color: #232936;
    background: white;
    color: #333;
}

#controllers > * {
    padding: 1.5%;
}

#controllers #documentation {
    background: #232936;
    color: white;
}

#node_title, #node_type {
    display: inline-block;
    min-height: 0;
    max-height: 25%;
}

#node_title {
    width: 72%;
}

#node_type {
    max-width: 21.7%;
}

.group {
    color: white;
}

.panel.left {
    width: 60% !important;
    float: left;
}

.panel.right {
    width: 40%;
    float: right;
}